        <!--========== PROMO BLOCK ==========-->
        <div class="s-promo-block-v1 g-bg-color--primary-to-blueviolet-ltr g-fullheight--md">
          <div class="container g-ver-center--md g-padding-y-100--xs">
            <div class="row g-hor-centered-row--md g-margin-t-30--xs g-margin-t-20--sm">
              <div class="col-lg-6 col-sm-6 g-hor-centered-row__col g-text-center--xs g-text-left--md g-margin-b-60--xs g-margin-b-0--md">
                <div class="s-promo-block-v1__square-effect g-margin-b-60--xs">
                  <h1 class="g-font-size-32--xs g-font-size-45--sm g-font-size-50--lg g-color--white">From The Farm<br>To Your Door Step</h1>
                  <p class="g-font-size-20--xs g-font-size-26--md g-color--white g-margin-b-0--xs">Lorem ipsum dolor sit amet<br>dolor sit amet.</p>
                </div>
                <span class="g-display-block--xs g-display-inline-block--lg g-margin-b-10--xs g-margin-b-10--lg">
                  <a href="#" class="s-btn s-btn--xs s-btn--white-brd g-padding-x-30--xs g-radius--50">
                    <span class="s-btn__element--left">
                      <i class="g-font-size-32--xs ti-apple"></i>
                    </span>
                    <span class="s-btn__element--right g-padding-x-10--xs">
                      <span class="g-display-block--xs g-font-size-11--xs">Download on the</span>
                      <span class="g-font-size-16--xs">App Store</span>
                    </span>
                  </a>
                </span>
                <span class="g-padding-x-0--xs g-padding-x-10--lg">
                  <a href="#" class="s-btn s-btn--xs s-btn--white-brd g-padding-x-30--xs g-radius--50">
                    <span class="s-btn__element--left">
                      <i class="g-font-size-32--xs ti-android"></i>
                    </span>
                    <span class="s-btn__element--right g-padding-x-10--xs">
                      <span class="g-display-block--xs g-font-size-11--xs">Download on</span>
                      <span class="g-font-size-16--xs">Google Play</span>
                    </span>
                  </a>
                </span>
              </div>
              <div class="col-lg-2"></div>
              <div class="col-lg-4 col-sm-4 g-hor-centered-row__col">
                <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
                  <form class="center-block g-width-350--xs g-bg-color--white-opacity-lightest g-box-shadow__blueviolet-v1 g-padding-x-40--xs g-padding-y-60--xs g-radius--4">
                    <div class="g-text-center--xs g-margin-b-40--xs">
                      <h2 class="g-font-size-30--xs g-color--white">Sign up, it’s free!</h2>
                    </div>
                    <div class="formGroup g-margin-b-30--xs">
                      <input type="email" class="form-control s-form-v3__input" placeholder="Email Address" #userEmail required>
                    </div>
                    <div class="formGroup g-margin-b-30--xs">
                      <input type="password" class="form-control s-form-v3__input" placeholder="Password" #userPwd required>
                    </div>
                    <div class="formGroup g-text-center--xs">
                      <input type="button" class="btn-block s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-50--xs g-margin-b-20--xs" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">
                    </div>

                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <a class="g-color--white g-font-size-14--xs" routerLink="/forgot">Forgot Password?</a>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-md-8 col-sm-8 col-xs-8">
                        <h2 class="g-font-size-18--xs g-color--white">Already A Patron?</h2>
                        <p class="g-font-size-12--xs g-color--white">We happy to see you back. Please</p>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <button routerLink="/sign-in" class="btn-block s-btn s-btn--sm s-btn--white-bg g-radius--50 g-padding-x-20--xs g-margin-b-20--xs g-font-size-14--xs"
                        >Login</button>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--========== END PROMO BLOCK ==========-->


<!-- Mockup -->
<div id="js__scroll-to-section" class="container g-padding-y-80--xs g-padding-y-125--xsm">
	<div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-80--xs g-margin-b-100--md">
		<div class="col-sm-5 g-hor-centered-row__col">
			<h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">Park&Pick Mobile</h2>
			<p class="g-font-size-18--sm">We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.</p>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-5 g-hor-centered-row__col">
			<img class="img-responsive" src="assets/img/mobile-mock.png" alt="Park&Pick Mobile App">
		</div>
	</div>
	<div class="row g-hor-centered-row--md g-row-col--5">
		<div class="col-sm-5 col-sm-push-7 g-hor-centered-row__col">
			<h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">How Its Works</h2>
			<p class="g-font-size-18--sm">Working together on the daily requires each individual to let the greater good of the team’s work surface above their own ego.</p>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-5 col-sm-pull-7 g-hor-centered-row__col g-text-left--xs g-text-right--md">
			<img class="img-responsive" src="assets/img/mobile-mock.png" alt="Park&Pick Mobile App">
		</div>
	</div>
</div>
<!-- End Mockup -->

<!-- Plan -->
<div class="g-bg-color--sky-light">
	<div class="container g-padding-y-80--xs g-padding-y-125--xsm">
		<div class="g-text-center--xs g-margin-b-80--xs">
			<h2 class="g-font-size-32--xs g-font-size-36--md">Finding your Plan</h2>
		</div>

		<div class="row g-row-col--5">
			<!-- Plan -->
			<div class="col-md-4 g-margin-b-10--xs g-margin-b-0--lg">
				<div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
					<div class="s-plan-v1 g-text-center--xs g-bg-color--white g-padding-y-100--xs">
						<i class="g-display-block--xs g-font-size-40--xs g-color--primary g-margin-b-30--xs ti-face-smile"></i>
						<h3 class="g-font-size-18--xs g-color--primary g-margin-b-30--xs">Farmer</h3>
						<ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-40--xs">
							<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-check"></i> Function Here</li>
							<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-check"></i> Function Here</li>
							<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-check"></i> Function Here</li>
							<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-check"></i> Function Here</li>
						</ul>
						<button type="button" class="text-uppercase s-btn s-btn--sm s-btn--primary-bg g-radius--50 g-padding-x-50--xs">
							<i class="g-font-size-18--xs ti-import"></i>
							Download
						</button>
					</div>
				</div>
			</div>
			<!-- End Plan -->

			<!-- Plan -->
			<div class="col-md-4 g-margin-b-10--xs g-margin-b-0--lg">
				<div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".2s">
					<div class="s-plan-v1 g-text-center--xs g-bg-color--white g-padding-y-100--xs">
						<i class="g-display-block--xs g-font-size-40--xs g-color--primary g-margin-b-30--xs ti-id-badge"></i>
						<h3 class="g-font-size-18--xs g-color--primary g-margin-b-30--xs">Vendor</h3>
						<ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-40--xs">
							<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-check"></i> Function Here</li>
							<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-check"></i> Function Here</li>
							<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-check"></i> Function Here</li>
							<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-check"></i> Function Here</li>
						</ul>
						<button type="button" class="text-uppercase s-btn s-btn--sm s-btn--primary-bg g-radius--50 g-padding-x-50--xs">
							<i class="g-font-size-18--xs ti-import"></i>
							Download
						</button>
					</div>
				</div>
			</div>
			<!-- End Plan -->

			<!-- Plan -->
			<div class="col-md-4">
				<div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".3s">
					<div class="s-plan-v1 g-text-center--xs g-bg-color--white g-padding-y-100--xs">
						<i class="g-display-block--xs g-font-size-40--xs g-color--primary g-margin-b-30--xs ti-user"></i>
						<h3 class="g-font-size-18--xs g-color--primary g-margin-b-30--xs">Customer</h3>
						<ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-40--xs">
							<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-check"></i> Function Here</li>
							<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-check"></i> Function Here</li>
							<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-check"></i> Function Here</li>
							<li><i class="g-font-size-13--xs g-color--primary g-margin-r-10--xs ti-check"></i> Function Here</li>
						</ul>
						<button type="button" class="text-uppercase s-btn s-btn--sm s-btn--primary-bg g-radius--50 g-padding-x-50--xs">
							<i class="g-font-size-18--xs ti-import"></i>
							Download
						</button>
					</div>
				</div>
			</div>
			<!-- End Plan -->
		</div>
	</div>
</div>
<!-- End Plan -->

<!-- Subscribe -->
<div class="g-bg-color--primary-to-blueviolet-ltr">
	<div class="g-container--sm g-text-center--xs g-padding-y-80--xs g-padding-y-125--xsm">
		<div class="g-margin-b-60--xs">
			<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Subscribe</p>
			<h2 class="g-font-size-32--xs g-font-size-36--md g-letter-spacing--1 g-color--white">Join Over 1000+ People</h2>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
				<form class="input-group">
					<input type="email" class="form-control s-form-v1__input2 g-radius--left-50" name="email" placeholder="Enter your email">
					<span class="input-group-btn">
						<button type="submit" class="s-btn s-btn-icon--md s-btn-icon--white-brd s-btn--white-brd g-radius--right-50"><i class="ti-arrow-right"></i></button>
					</span>
				</form>
			</div>
		</div>
	</div>
</div>
        <!-- End Subscribe -->

<!-- Testimonials -->
<div class="g-hor-divider__dashed--sky-light g-padding-y-80--xs g-padding-y-125--xsm">
    <div class="container g-text-center--xs">
        <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-50--xs">Testimonials</p>
        <div class="s-swiper js__swiper-testimonials">
            <!-- Swiper Wrapper -->
            <div class="swiper-wrapper g-margin-b-50--xs">
                <div class="swiper-slide g-padding-x-130--sm g-padding-x-150--lg">
                    <div class="g-padding-x-20--xs g-padding-x-50--lg">
                        <img class="g-width-70--xs g-height-70--xs g-hor-border-4__solid--white g-box-shadow__dark-lightest-v4 g-radius--circle g-margin-b-30--xs" src="assets/img/users/farmers/farmer-1.png" alt="Pack&Pick Farmer Image">
                        <div class="g-margin-b-40--xs">
                            <p class="g-font-size-22--xs g-font-size-28--sm g-color--heading"><i>" Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamc."</i></p>
                        </div>
                        <div class="center-block g-hor-divider__solid--heading-light g-width-100--xs g-margin-b-30--xs"></div>
                        <h4 class="g-font-size-15--xs g-font-size-18--sm g-color--primary g-margin-b-5--xs">Jake Richardson / Northern Province</h4>
                    </div>
                </div>
                <div class="swiper-slide g-padding-x-130--sm g-padding-x-150--lg">
                    <div class="g-padding-x-20--xs g-padding-x-50--lg">
                        <img class="g-width-70--xs g-height-70--xs g-hor-border-4__solid--white g-box-shadow__dark-lightest-v4 g-radius--circle g-margin-b-30--xs" src="assets/img/users/farmers/farmer-1.png" alt="Pack&Pick Farmer Image">
                        <div class="g-margin-b-40--xs">
                            <p class="g-font-size-22--xs g-font-size-28--sm g-color--heading"><i>" Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamc."</i></p>
                        </div>
                        <div class="center-block g-hor-divider__solid--heading-light g-width-100--xs g-margin-b-30--xs"></div>
                        <h4 class="g-font-size-15--xs g-font-size-18--sm g-color--primary g-margin-b-5--xs">Jake Richardson / Northern Province</h4>
                    </div>
                </div>
                <div class="swiper-slide g-padding-x-130--sm g-padding-x-150--lg">
                    <div class="g-padding-x-20--xs g-padding-x-50--lg">
                        <img class="g-width-70--xs g-height-70--xs g-hor-border-4__solid--white g-box-shadow__dark-lightest-v4 g-radius--circle g-margin-b-30--xs" src="assets/img/users/farmers/farmer-1.png" alt="Pack&Pick Farmer Image">
                        <div class="g-margin-b-40--xs">
                            <p class="g-font-size-22--xs g-font-size-28--sm g-color--heading"><i>" Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamc."</i></p>
                        </div>
                        <div class="center-block g-hor-divider__solid--heading-light g-width-100--xs g-margin-b-30--xs"></div>
                        <h4 class="g-font-size-15--xs g-font-size-18--sm g-color--primary g-margin-b-5--xs">Jake Richardson / Northern Province</h4>
                    </div>
                </div>
            </div>
            <!-- End Swipper Wrapper -->

            <!-- Arrows -->
            <div class="g-font-size-22--xs g-color--heading js__swiper-fraction"></div>
            <a href="javascript:void(0);" class="g-display-none--xs g-display-inline-block--sm s-swiper__arrow-v1--right s-icon s-icon--md s-icon--primary-brd g-radius--circle ti-angle-right js__swiper-btn--next"></a>
            <a href="javascript:void(0);" class="g-display-none--xs g-display-inline-block--sm s-swiper__arrow-v1--left s-icon s-icon--md s-icon--primary-brd g-radius--circle ti-angle-left js__swiper-btn--prev"></a>
            <!-- End Arrows -->
        </div>
    </div>
</div>
        <!-- End Testimonials -->


<!-- Clients -->
        <div class="g-container--md g-padding-y-80--xs g-padding-y-100--sm">
            <!-- Swiper Clients -->
            <div class="s-swiper js__swiper-clients">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".1s">
                            <img class="s-clients-v1" src="assets/img/partner1.png" alt="Clients Logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".2s">
                            <img class="s-clients-v1" src="assets/img/partner2.png" alt="Clients Logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".3s">
                            <img class="s-clients-v1" src="assets/img/partner3.png" alt="Clients Logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".4s">
                            <img class="s-clients-v1" src="assets/img/partner4.png" alt="Clients Logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".5s">
                            <img class="s-clients-v1" src="assets/img/partner5.png" alt="Clients Logo">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Swiper Clients -->
        </div>
        <!-- End Clients -->