<!-- Create Basket -->
<div class="g-promo-section">
	<div class="container g-padding-y-80--xs g-padding-y-125--sm">
		<div class="row">
			<div class="col-md-2 col-sm-12 col-xs-12 g-margin-t-15--xs  g-margin-b-0--lg">
				<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Create</p>
				<div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
					<h2 class="g-font-size-22--xs g-font-size-18--sm g-font-size-24--md">Your Basket</h2>

					<img class="img-responsive g-margin-b-30--xs" src="assets/svg/forms-animate.svg">
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-1">

				<p class="g-font-size-14--xs g-font-size-18--md">
					
				</p>

				<form>
					<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2">
						Choose Your Best Platform
					</p>
					<div class="row g-margin-b-25--xs">
						<div class="col-md-4 col-sm-4 col-xs-4 g-text-center--xs">
							<i class="fas fa-phone-alt g-font-size-32--xs"></i><br>
							<p class="g-font-size-12--xs g-font-size-14--md">Phone</p>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4 g-text-center--xs">
							<i class="fab fa-whatsapp g-font-size-32--xs"></i><br>
							<p class="g-font-size-12--xs g-font-size-14--md">WhatsApp</p>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4 g-text-center--xs">
							<i class="fab fa-android g-font-size-32--xs"></i><br>
							<p class="g-font-size-12--xs g-font-size-14--md">Mobile App</p>
						</div>
					</div>


					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 g-margin-b-25--xs">
							<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2">
								Your Location
							</p>

							<span class="input-group">
								<input type="email" class="form-control s-form-v1__input g-radius--left-50" name="email" placeholder="Your Location">
								<span class="input-group-btn">
									<button type="submit" class="s-btn s-btn-icon--md s-btn-icon--white-brd s-btn--primary-brd g-radius--right-50"><i class="fas fa-map-marker-alt"></i></button>
								</span>
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2">
								Basket Items
							</p>

							<div class="row no-items g-margin-b-25--xs">
								<div class="col-md-12 col-sm-12 col-xs-12 g-text-center--xs">
									<h1 class="g-font-size-18--xs g-font-size-20--sm g-font-size-22--md g-color--white g-letter-spacing--1">No Items In Basket</h1>
									<p class="g-font-size-14--xs g-font-size-16--md g-color--white-opacity g-margin-b-0--xs">There Are No Items In Your Basket As Yet. Please Click Add Item Button To Add Items To The Basket</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md-3 col-sm-6 col-xs-6">
									<button  class="s-btn s-btn-icon--md s-btn--primary-bg g-radius--50">
										<i class="fas fa-plus"></i>
										Add Item
									</button>
								</div>
								<div class="col-md-9 col-sm-6 col-xs-6"></div>
							</div>

						</div>
					</div>




				</form>
				
			</div>
		</div>
	</div>
	<div class="col-sm-3 g-promo-section__img-right--lg g-bg-position--center g-height-100-percent--md js__fullwidth-img">
		<img class="img-responsive" src="assets/img/create-basket.png" alt="Create Basket">
	</div>
</div>
        <!-- End Create Basket -->