<!--========== PROMO BLOCK ==========-->
<div class="js__parallax-window" style="background: url(assets/img/park&pick-market-place.png) 50% 0 no-repeat fixed;">
	<div class="g-container--md g-text-center--xs g-padding-y-150--xs">
		<div class="g-margin-b-60--xs">
			<h1 class="g-font-size-30--xs g-font-size-40--sm g-font-size-50--md g-color--primary g-letter-spacing--1 g-margin-b-30--xs">Market Place</h1>
		</div>
	</div>
</div>
<!--========== END PROMO BLOCK ==========-->

<!--========== PAGE CONTENT ==========-->
<!-- About -->
<div class="container g-padding-y-40--xs g-padding-y-60--sm">

	<div class="g-text-center--xs g-margin-b-60--xs">
		<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Park&Pick</p>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
				<form class="input-group">
					<input type="email" class="form-control s-form-v1__input g-radius--left-50" name="email" placeholder="Enter your email">
					<span class="input-group-btn">
						<button type="submit" class="s-btn s-btn-icon--md s-btn-icon--white-brd s-btn--primary-brd g-radius--right-50"><i class="fas fa-search"></i></button>
					</span>
				</form>
			</div>
		</div>
	</div>

	<!-- Products Action -->
	<div class="row g-margin-b-60--xs">

		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="row">



                    <div class="col-sm-3 g-margin-b-30--xs g-margin-b-0--md" *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: p }">
                        <!-- News -->
                        <article>
                            <img class="img-responsive" src="assets/img/products/carrots.png" alt="Image">
                            <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-20--xs g-padding-y-20--xs">
                                <p class="text-uppercase g-font-size-12--xs g-font-weight--700 g-color--primary g-letter-spacing--2">{{product.Category}}</p>
                                <h3 class="g-font-size-16--xs g-letter-spacing--1"><a href="">{{product.Item}}</a></h3>
                                <p>{{product.Price}} <strong>RWF</strong></p>
                                <hr>
                                <div class="row">
                                	<div class="col-md-6 col-sm-6 col-xs-6">
                                		<p class="g-font-size-12--xs"><i class="fas fa-shopping-basket"></i> Add To Cart</p>
                                	</div>
                                	<div class="col-md-6 col-sm-6 col-xs-6">
                                		<p class="g-font-size-12--xs"><i class="far fa-eye"></i> Quick View</p>
                                	</div>
                                </div>
                            </div>
                        </article>
                        <!-- End News -->
                    </div>



                </div>

                <pagination-controls (pageChange)="p = $event"></pagination-controls>
		</div>
	</div>

</div>
<!-- End About -->




