<!--========== PROMO BLOCK ==========-->
<div class="js__parallax-window" style="background: url(assets/img/park&pick-market-place.png) 50% 0 no-repeat fixed;">
	<div class="g-container--md g-text-center--xs g-padding-y-150--xs">
		<div class="g-margin-b-60--xs">
			<h1 class="g-font-size-30--xs g-font-size-40--sm g-font-size-50--md g-color--primary g-letter-spacing--1 g-margin-b-30--xs">Market Place</h1>
		</div>
	</div>
</div>
<!--========== END PROMO BLOCK ==========-->

<!--========== PAGE CONTENT ==========-->
<!-- About -->
<div class="container g-padding-y-40--xs g-padding-y-60--sm">

	<div class="g-text-center--xs g-margin-b-60--xs">
		<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Park&Pick</p>
		<h2 class="g-font-size-32--xs g-font-size-36--md">Service delivery you can count on</h2>
	</div>

	<div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-60--xs g-margin-b-100--md">
		<div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
			<!-- News -->
			<article>
				<img class="img-responsive" src="assets/img/park&pick-online-shopping.png" alt="Image">
				<div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
					<h3 class="g-font-size-22--xs g-letter-spacing--1">Choose what you want</h3>
					<p>The time has come to bring those ideas and plans to life.</p>
				</div>
			</article>
			<!-- End News -->
		</div>
		<div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
			<!-- News -->
			<article>
				<img class="img-responsive" src="assets/img/park&pick-locator.png" alt="Image">
				<div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
					<h3 class="g-font-size-22--xs g-letter-spacing--1">See real-time updates</h3>
					<p>The time has come to bring those ideas and plans to life.</p>
				</div>
			</article>
			<!-- End News -->
		</div>
		<div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
			<!-- News -->
			<article>
				<img class="img-responsive" src="assets/img/park&pick-delivery.png" alt="Image">
				<div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
					<h3 class="g-font-size-22--xs g-letter-spacing--1">Door Step Delivery</h3>
					<p>The time has come to bring those ideas and plans to life.</p>
				</div>
			</article>
			<!-- End News -->
		</div>
	</div>

	<div class="g-text-center--xs">
		<a routerLink="/shop" class="s-btn s-btn--md s-btn--primary-bg g-radius--50 g-padding-x-70--xs">Start Shopping</a>
	</div>

</div>
<!-- End About -->

<!-- Accordion -->
<div class="s-faq">
	<div class="container g-padding-y-60--xs">
		<div class="g-text-center--xs g-margin-b-60--xs">
			<h2 class="g-font-size-32--xs g-font-size-36--md">FAQs</h2>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="cbp cbp-l-grid-faq js__grid-faq">
					<div class="cbp-item buying dashed" style="width: 100%;">
						<div class="cbp-caption">
							<div class="s-faq-grid__divider cbp-caption-defaultWrap">
								<h2 class="s-faq-grid__title-page"><i class="far fa-question-circle"></i> 
									Where can I find my Purchase Code?
								</h2>
							</div>
							<div class="cbp-caption-activeWrap">
								<p class="">
									Every item purchased on Envato Market has a unique code, called a purchase code.
									<br>
									A purchase code is used by authors to verify you have purchased a licence for the item. The purchase code may be required to access an author’s support site (if support is offered) or to enable automatic updates.
								</p>
							</div>
						</div>
					</div>

					<div class="cbp-item buying dashed" style="width: 100%;">
						<div class="cbp-caption">
							<div class="s-faq-grid__divider cbp-caption-defaultWrap">
								<h2 class="s-faq-grid__title-page"><i class="far fa-question-circle"></i> 
									Where can I find my Purchase Code?
								</h2>
							</div>
							<div class="cbp-caption-activeWrap">
								<p class="">
									Every item purchased on Envato Market has a unique code, called a purchase code.
									<br>
									A purchase code is used by authors to verify you have purchased a licence for the item. The purchase code may be required to access an author’s support site (if support is offered) or to enable automatic updates.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Accordion -->


