<!--========== PROMO BLOCK ==========-->
<div class="g-fullheight--md js__parallax-window" style="background: url(assets/img/about-park&pick.png) 50% 0 no-repeat fixed;">
	<div class="g-container--md g-text-center--xs g-ver-center--md g-padding-y-150--xs g-padding-y-0--md">
		<div class="g-margin-b-60--xs">
			<h1 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--primary g-letter-spacing--1">About Park&Pick</h1>
			<p class="g-font-size-18--xs g-font-size-26--md g-color--white-opacity g-margin-b-0--xs"></p>
		</div>
	</div>
</div>
<!--========== END PROMO BLOCK ==========-->

<!--========== PAGE CONTENT ==========-->
<!-- About -->
<div class="container g-padding-y-80--xs g-padding-y-125--sm">
    <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-60--xs g-margin-b-100--md">
        <div class="col-sm-3 col-xs-6 g-hor-centered-row__col">
            <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                <img class="img-responsive" src="assets/img/farmer-network-small.png" alt="Park&Pick Farmers Network">
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 g-hor-centered-row__col g-margin-b-60--xs g-margin-b-0--md">
            <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                <img class="img-responsive" src="assets/img/farmer-network-big.png" alt="Park&Pick Farmers Network">
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 g-hor-centered-row__col">
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">Farmers Network</h2>
            <p class="g-font-size-14--sm">
             Partner Farmers in Park&Pick hold an important role, they translate customers’ needs into their respective farming plans. They choose up to 3 specialty crops from these recommended by  Park&Pick and focus on their production.
             <br><br>
             They not only follow a strict supply calendar but also abide by Global Agricultural Practices to match the absorption capacity of Park&Pick as well as the standards and its customers' rhythms and their purchasing preferences.
         </p>

         <a routerLink="/farmer-reg"> <i class="fas fa-mouse"></i> Become A Farmer</a>
     </div>
 </div>

 <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-60--xs g-margin-b-100--md">
    <div class="col-sm-3 col-xs-6 col-sm-push-6 g-hor-centered-row__col">
        <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".2s">
            <img class="img-responsive" src="assets/img/local-vendors-big.png" alt="Park&Pick Local Vendors">
        </div>
    </div>
    <div class="col-sm-3 col-xs-6 col-sm-push-6 g-hor-centered-row__col g-margin-b-60--xs g-margin-b-0--md">
        <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".1s">
            <img class="img-responsive" src="assets/img/local-vendors-small.png" alt="Park&Pick Local Vendors">
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5 col-sm-pull-7 g-hor-centered-row__col g-text-left--xs g-text-right--md">
        <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">Female Street Vendors</h2>
        <p class="g-font-size-14--sm">
            Apart from them waking up everyday with an untamed willingness to cater for more than 60% of our urban communities in Kigali, they have an unmatched high level of unconventional knowledge of fruits and vegetables’ business and families to feed. 
            <br><br>
            Equipping them with an upgraded business etiquette and advanced  professionalism (IT, customer support… makes them a highly effective distribution extension that Park&Pick can pride itself to harness better than any other.

        </p>

        <a routerLink="/vendor-reg"> <i class="fas fa-mouse"></i> Become A Vendor</a>
    </div>
</div>

<div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-60--xs g-margin-b-100--md">
    <div class="col-sm-3 col-xs-6 g-hor-centered-row__col">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
            <img class="img-responsive" src="assets/img/farmer-network-small.png" alt="Park&Pick Farmers Network">
        </div>
    </div>
    <div class="col-sm-3 col-xs-6 g-hor-centered-row__col g-margin-b-60--xs g-margin-b-0--md">
        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
            <img class="img-responsive" src="assets/img/farmer-network-big.png" alt="Park&Pick Farmers Network">
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5 g-hor-centered-row__col">
        <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">Customers</h2>
        <p class="g-font-size-14--sm">
         From the first 6 households (Claudien, Dorine, Aline, Francine, Maida, Dative and Gilles) back in 2018 , customers are the backbone of our service; their trust, loyalty and cooperation are the validation that fuels our business.
         <br><br>
         Their rhythms, preferences and feedback help us structure what will come to be a customer-centered, highly customized and yet standard home delivery service of fresh agricultural products and efficiently match up our farmers' production mix.
     </p>

     <a routerLink="/farmer-reg"> <i class="fas fa-mouse"></i> Create Buyer's Account</a>
 </div>
</div>
</div>
<!-- End About -->
<!--========== PAGE CONTENT ==========-->