<!--========== PROMO BLOCK ==========-->
<div class="js__parallax-window" style="background: url(assets/img/park&pick-market-place.png) 50% 0 no-repeat fixed;">
  <div class="g-container--md g-text-center--xs g-padding-y-150--xs">
    <div class="g-margin-b-60--xs">
      <h1 class="g-font-size-30--xs g-font-size-40--sm g-font-size-50--md g-color--primary g-letter-spacing--1 g-margin-b-30--xs">Market Place</h1>
    </div>
  </div>
</div>
<!--========== END PROMO BLOCK ==========-->

<!-- About -->
<div class="container g-padding-y-40--xs g-padding-y-60--sm">

  <div class="g-text-center--xs g-margin-b-60--xs">
    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Park&Pick</p>
    <h2 class="g-font-size-32--xs g-font-size-36--md">Service delivery you can count on</h2>
  </div>

 


</div>
<!-- End About -->