<!--========== PROMO BLOCK ==========-->
<div class="js__parallax-window" style="background: url(assets/img/park&pick-market-place.png) 50% 0 no-repeat fixed;">
	<div class="g-container--md g-text-center--xs g-padding-y-150--xs">
		<div class="g-margin-b-60--xs">
			<h1 class="g-font-size-30--xs g-font-size-40--sm g-font-size-50--md g-color--primary g-letter-spacing--1 g-margin-b-30--xs">New Promotion</h1>
		</div>
	</div>
</div>
<!--========== END PROMO BLOCK ==========-->


<!-- Posts -->
<div class="container g-padding-y-40--xs g-padding-y-60--sm">

	<div class="g-text-center--xs g-margin-b-60--xs">
		<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Park&Pick</p>
		<h2 class="g-font-size-32--xs g-font-size-36--md">Create A New Product</h2>
	</div>

	<div class="row">
		<div class="col-md-8 col-sm-8 col-xs-12">
			
			<form [formGroup]="promotionForm" (ngSubmit)="onSubmit()" novalidate>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Promotion Name</label>
							<input 
							type="text" class="form-control" 
							formControlName="promotion_name"
							placeholder="Promotion Name"
							>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-4">
						<div class="form-group">
							<label for="exampleFormControlSelect1">Product Category</label>
							<select 
							class="form-control"
							formControlName="promotion_category" 
							>
							<option *ngFor="let productc of productCat" value="{{productc.category_name}}">
								{{productc.category_name}}
							</option>
						</select>
					</div>
					</div>

					<div class="col-md-4 col-sm-4 col-xs-4">
						
					</div>

					<div class="col-md-4 col-sm-4 col-xs-4"></div>
				</div>

				<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label for="exampleFormControlTextarea3">Promotion Description</label>
						<textarea 
						class="form-control" 
						id="exampleFormControlTextarea3" 
						rows="7"
						formControlName="promotion_description" 
						></textarea>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<button type="submit" class="text-uppercase s-btn s-btn--sm btn-block s-btn--primary-bg g-radius--3 g-padding-x-50--xs">Create Promotion</button>
				</div>
			</div>
			</form>

		</div>

		<div class="col-md-4 col-sm-4 col-xs-12">
			<ul class="list-group">
			<a [routerLink]="['/promotion', promotion.id]" class="list-group-item list-group-item-action" *ngFor="let promotion of promotions; index as i">
				{{promotion.promotion_name}}
			</a>
		</ul>
		</div>
	</div>

</div>
