<!--========== PROMO BLOCK ==========-->
<div class="js__parallax-window" style="background: url(assets/img/park&pick-market-place.png) 50% 0 no-repeat fixed;">
	<div class="g-container--md g-text-center--xs g-padding-y-150--xs">
		<div class="g-margin-b-60--xs">
			<h1 class="g-font-size-30--xs g-font-size-40--sm g-font-size-50--md g-color--primary g-letter-spacing--1 g-margin-b-30--xs">New Product</h1>
		</div>
	</div>
</div>
<!--========== END PROMO BLOCK ==========-->

<!-- Posts -->
<div class="container g-padding-y-40--xs g-padding-y-60--sm">

	<div class="g-text-center--xs g-margin-b-60--xs">
		<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Park&Pick</p>
		<h2 class="g-font-size-32--xs g-font-size-36--md">Create A New Product</h2>
	</div>

	<div class="row">
		<div class="col-md-8 col-sm-8 col-xs-12">

			<span  data-toggle="modal" data-target="#productCat">Add Product Category <i class="ti-plus"></i></span>

			<form [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Product Name</label>
							<input 
							type="text" class="form-control" 
							formControlName="item"
							placeholder="Product Name"
							>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-6">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Product Caption</label>
								<input 
								type="text" class="form-control" 
								formControlName="caption"
								placeholder="Product Name"
								>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-4 col-xs-6">
						<div class="form-group">
							<label for="exampleFormControlSelect1">Product Category</label>
							<select 
							class="form-control"
							formControlName="category" 
							>
							<option *ngFor="let productc of products_categories" value="{{productc.category_name}}">
								{{productc.category_name}}
							</option>
						</select>
					</div>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-6">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Product Price $</label>
							<input 
							type="number" class="form-control" 
							formControlName="price"
							placeholder="Product Price"
							>
						</div>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label for="exampleFormControlTextarea3">Product Description</label>
						<textarea 
						class="form-control" 
						id="exampleFormControlTextarea3" 
						rows="7"
						formControlName="description" 
						></textarea>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<button type="submit" class="text-uppercase s-btn s-btn--sm btn-block s-btn--primary-bg g-radius--3 g-padding-x-50--xs">Create Product</button>
				</div>
			</div>

		</form>

	</div>


	<div class="col-md-4 col-sm-4 col-xs-12">

	</div>
</div>

</div>

<!-- Modal -->
<div class="modal fade" id="productCat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form [formGroup]="productCatForm" (ngSubmit)="onSubmitProductCat()" novalidate>
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Nutrients</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<div class="row">

						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Product Category Name</label>
								<input 
								type="text" class="form-control" 
								formControlName="category_name"
								placeholder="Product Category Name"
								>
							</div>
						</div>
						
					</div>

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="exampleFormControlTextarea3">Product Category Description</label>
								<textarea 
								class="form-control" 
								id="exampleFormControlTextarea3" 
								rows="7"
								formControlName="category_description" 
								></textarea>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="text-uppercase s-btn s-btn--sm btn-block s-btn--primary-bg g-radius--3 g-padding-x-50--xs">Add Product Cat</button>
				</div>
			</div>
		</form>
	</div>
</div>
