<div class="speech-wrapper">

					<span *ngFor="let message of message$ | async; index as i">
						<div class="bubble" *ngIf="message.user_account === 2 ">
							<div class="txt">
								<p class="name">You</p>
								<p class="message">{{message.message_main}}</p>
								<span class="timestamp">{{message.date.toDate() | date:'h:mm'}}</span>
							</div>
							<div class="bubble-arrow"></div>
						</div>
						<!--  Speech Bubble alternative -->
						<div class="bubble alt"  *ngIf="message.user_account === 1 ">
							<div class="txt">
								<p class="name alt">Park&Pick<span> ~ Admin</span></p>
								<p class="message">{{message.message_main}}</p>
								<span class="timestamp">{{message.date.toDate() | date:'h:mm'}}</span>
							</div>
							<div class="bubble-arrow alt"></div>
						</div>
					</span>
					
				</div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form [formGroup]="messageForm" (ngSubmit)="onSubmit()" novalidate>
			<div class="row">
				<div class="col-md-10 col-sm-10 col-xs-10">
					<div class="form-group">
							<input 
							type="text" class="form-control" 
							formControlName="message_main"
							placeholder="Message Here"
							>
						</div>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<button type="submit" class="text-uppercase s-btn s-btn--sm btn-block s-btn--primary-bg g-radius--3 g-padding-x-50--xs">Send</button>
				</div>
			</div>
		</form>
	</div>
</div>
