<!--========== PROMO BLOCK ==========-->
<div class="js__parallax-window" style="background: url(assets/img/park&pick-market-place.png) 50% 0 no-repeat fixed;">
	<div class="g-container--md g-text-center--xs g-padding-y-100--xs">
		<div class="g-margin-b-60--xs">
			<h1 class="g-font-size-30--xs g-font-size-40--sm g-font-size-50--md g-color--primary g-letter-spacing--1 g-margin-b-30--xs">Post</h1>
		</div>
	</div>
</div>
<!--========== END PROMO BLOCK ==========-->

<div class="container g-padding-y-40--xs g-padding-y-60--sm">

	<div *ngFor="let post of post$ | async; index as i">

		<div class="row">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<h3 class="g-font-size-20--xs g-color--primary">{{post.post_title}}</h3>

				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-4">
						<p class="g-font-size-12--xs">
							Author
							<span class="pull-right g-color--primary">{{post.post_auth}}</span>
						</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4">
						<p class="g-font-size-12--xs">
							Category
							<span class="pull-right g-color--primary">{{post.post_category}}</span>
						</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4">
						<p class="g-font-size-12--xs">
							Date
							<span class="pull-right g-color--primary">{{post.post_date.toDate() | date:'dd MMM yyyy h:mm'}}</span>
						</p>
					</div>
				</div>

				<div class="row g-hor-divider__dashed--sky-light">
					<div class="col-md-12 col-sm-12 col-xs-12 g-padding-y-30--sm">
						<p>
							{{post.post_main}}
						</p>
					</div>
				</div>



			</div>


			<div class="col-md-4 col-sm-12 col-xs-12">
				<!-- Post image here -->
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">

						<img src="{{post.post_image}}" class="img-responsive" alt="{{post.post_title}}">

						<label class="btn btn-default btn-file" *ngIf="!isLoading  && !isLoaded">
							<i class="ti-gallery g-font-size-18--xs g-color--primary"></i>
							<h2 class="g-color--primary g-font-size-14--xs">Select File</h2>
							<input type="file" style="display: none;" (change)="uploadImagetoFirebase($event)" id="file-input"  accept="image/png, image/jpg" required>
						</label>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
