<!--========== PROMO BLOCK ==========-->
<div class="js__parallax-window" style="background: url(assets/img/park&pick-market-place.png) 50% 0 no-repeat fixed;">
	<div class="g-container--md g-text-center--xs g-padding-y-100--xs">
		<div class="g-margin-b-60--xs">
			<h1 class="g-font-size-30--xs g-font-size-40--sm g-font-size-50--md g-color--primary g-letter-spacing--1 g-margin-b-30--xs">Tutorials</h1>
		</div>
	</div>
</div>
<!--========== END PROMO BLOCK ==========-->


<div class="container g-padding-y-40--xs g-padding-y-60--sm">

	<div *ngFor="let tutorial of tutorial$ | async; index as i">

		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-12">
				<span  class="pull-right" data-toggle="modal" data-target="#tutorialSlide">Add tutorial Slide <i class="ti-plus"></i></span>
				<br>
				<hr>

				<!-- get all the tutorial slide here -->
				<div class="row" *ngFor="let slide of slides; index as i">
					<div class="col-md-2 col-sm-2 col-xs-2">
						{{slide.slide_image}}
					</div>
					<div class="col-md-8 col-sm-8 col-xs-8">
						<h3>{{slide.slide_title}}</h3>
						<p>{{slide.slide_description}}</p>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
						<label class="btn btn-default btn-file" *ngIf="!isLoading  && !isLoaded">
							<i class="ti-gallery g-font-size-18--xs g-color--primary"></i>
							<h2 class="g-color--primary g-font-size-14--xs">Select Slide</h2>
							<input type="file" style="display: none;" (change)="uploadSlidetoFirebase($event)" id="file-input"  accept="image/png, image/jpg, image/svg" required>
						</label>
					</div>
				</div>


			</div>

			<div class="col-md-4 col-sm-4 col-xs-12">
					
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">

						<img src="{{tutorial.tutorial_image}}" class="img-responsive" alt="{{tutorial.tutorial_title}}">

						<label class="btn btn-default btn-file" *ngIf="!isLoading  && !isLoaded">
							<i class="ti-gallery g-font-size-18--xs g-color--primary"></i>
							<h2 class="g-color--primary g-font-size-14--xs">Select Image</h2>
							<input type="file" style="display: none;" (change)="uploadImagetoFirebase($event)" id="file-input"  accept="image/png, image/jpg, image/svg" required>
						</label>
					</div>
				</div>	

			</div>
		</div>

	</div>

</div>


<!-- Modal -->
<div class="modal fade" id="tutorialSlide" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form [formGroup]="tutorialSlideForm" (ngSubmit)="onSubmitTutorialSlide()" novalidate>
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Tutorial Slide</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<div class="row">

						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Slide Number</label>
								<input 
								type="text" class="form-control" 
								formControlName="slide_number"
								placeholder="Slide Number"
								>
							</div>
						</div>
						
					</div>

					<div class="row">

						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Slide Title</label>
								<input 
								type="text" class="form-control" 
								formControlName="slide_title"
								placeholder="Slide Title"
								>
							</div>
						</div>
						
					</div>

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="exampleFormControlTextarea3">Slide Description</label>
								<textarea 
								class="form-control" 
								id="exampleFormControlTextarea3" 
								rows="7"
								formControlName="slide_description" 
								></textarea>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="text-uppercase s-btn s-btn--sm btn-block s-btn--primary-bg g-radius--3 g-padding-x-50--xs">Add Product Cat</button>
				</div>
			</div>
		</form>
	</div>
</div>
