<!--========== PROMO BLOCK ==========-->
<div class="js__parallax-window" style="background: url(assets/img/park&pick-terms-and-conditions.png) 50% 0 no-repeat fixed;">
	<div class="g-container--md g-text-center--xs g-padding-y-120--xs">
		<div class="g-margin-b-40--xs">
			<h1 class="g-font-size-30--xs g-font-size-40--sm g-font-size-50--md g-color--primary g-letter-spacing--1 g-margin-b-30--xs">Park&Pick Terms And Conditions</h1>
		</div>
	</div>
</div>
<!--========== END PROMO BLOCK ==========-->

<!-- Services -->
<div class="container g-padding-y-80--xs g-padding-y-125--sm">
	<div class="row g-margin-b-10--xs">
		<div class="col-md-8 g-margin-b-60--xs g-margin-b-0--lg">
			<h2 class="g-font-size-32--xs g-font-size-36--sm">Terms And Conditions</h2>
		</div>
		<div class="col-md-3 g-margin-b-10--xs g-margin-b-0--lg g-margin-t-10--lg g-margin-l-20--lg">
			<h2 class="g-font-size-20--xs g-font-size-22--md">Related</h2>

			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="list-group list-group-flush">
						<a routerLink="/about" class="list-group-item list-group-item-action">About Us</a>
						<a routerLink="/faq" class="list-group-item list-group-item-action">FAQs</a>
						<a routerLink="/terms-and-conditions" class="list-group-item list-group-item-action">Terms And Conditions</a>
						<a routerLink="/privacy-policy" class="list-group-item list-group-item-action">Privacy Policy</a>
						<a routerLink="/cookies-policy" class="list-group-item list-group-item-action">Cookies Policy</a>
						<a routerLink="/cookies-policy" class="list-group-item list-group-item-action">Sitemap</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
        <!-- End Services -->