<!--========== PROMO BLOCK ==========-->
<div class="js__parallax-window" style="background: url(assets/img/park&pick-faq.png) 50% 0 no-repeat fixed;">
	<div class="g-container--md g-text-center--xs g-padding-y-120--xs">
		<div class="g-margin-b-40--xs">
			<h1 class="g-font-size-30--xs g-font-size-40--sm g-font-size-50--md g-color--primary g-letter-spacing--1 g-margin-b-30--xs">Park&Pick FAQs</h1>
		</div>
	</div>
</div>
<!--========== END PROMO BLOCK ==========-->


<!-- Accordion -->
<div class="s-faq g-bg-color--primary">
	<div class="container g-padding-y-125--xs">
		<div class="row">
			<div class="col-sm-6">
				<div class="cbp cbp-l-grid-faq js__grid-faq">

					<div class="cbp-item buying">
						<div class="cbp-caption">
							<div class="s-faq-grid__divider cbp-caption-defaultWrap">
								<h2 class="s-faq-grid__title"><i class="far fa-question-circle"></i> Where can I find my Purchase Code?</h2>
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="g-color--white-opacity">
									Every item purchased on Envato Market has a unique code, called a purchase code.
									<br>
									A purchase code is used by authors to verify you have purchased a licence for the item. The purchase code may be required to access an author’s support site (if support is offered) or to enable automatic updates.
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
			<div class="col-sm-6">
				<div class="cbp cbp-l-grid-faq js__grid-faq">
					<div class="cbp-item account">
						<div class="cbp-caption">
							<div class="s-faq-grid__divider cbp-caption-defaultWrap">
								<h4 class="s-faq-grid__title"><i class="far fa-question-circle"></i> How Do I Change My Password?</h4>
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="g-color--white-opacity">
									It is important that your Envato Account has a secure, private password at all times.
									<br>
									Sign in to your Envato Account via the button at the top right of the Envato Market sites.
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
        <!-- End Accordion -->