<!-- Start Page -->
<div id="js__scroll-to-section" class="container g-padding-y-30--xs g-padding-y-40--sm">

    <div class="row g-margin-b-60--xs g-margin-b-70--md">

        <!-- MAIN PAGE CONTENT STARTS HERE -->
        <div class="col-md-8 col-sm-8 col-xs-12 g-margin-b-60--xs g-margin-b-0--md">
            <div class="clearfix">

                <!-- home page slider starts here -->
                <div class="row">
                    <div class="col-sm-12 g-margin-b-30--xs g-margin-b-30--md">
                        <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">

                        </div>
                    </div>
                </div>
                <!-- home page slider end here -->

                <!-- home page slider starts here -->
                <div class="row">
                    <div class="col-sm-12 g-margin-b-30--xs g-margin-b-0--md">
                        <div class="g-margin-b-20--xs">
                            <h2 class="g-font-size-22--xs g-font-size-26--md text-uppercase">
                                Recipes of the day
                                <!-- <span class="pull-right g-font-size-12--xs g-font-size-14--md">See All</span> -->
                            </h2>

                            <div class="row">
                             <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
                                <!-- News -->
                                <article>
                                    <img class="img-responsive" src="assets/img/recipe_1.png" alt="Image">
                                    <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-padding-x-10--xs g-padding-y-10--xs">
                                        <h3 class="g-font-size-18--xs g-letter-spacing--1 g-color--primary"><a href="#">Create Something Great.</a></h3>
                                    </div>
                                </article>
                                <!-- End News -->
                            </div>

                            <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
                                <!-- News -->
                                <article>
                                    <img class="img-responsive" src="assets/img/recipe_1.png" alt="Image">
                                    <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-padding-x-10--xs g-padding-y-10--xs">
                                        <h3 class="g-font-size-18--xs g-letter-spacing--1 g-color--primary"><a href="#">Create Something Great.</a></h3>
                                    </div>
                                </article>
                                <!-- End News -->
                            </div>

                            <div class="col-sm-4 g-margin-b-30--xs g-margin-b-0--md">
                                <!-- News -->
                                <article>
                                    <img class="img-responsive" src="assets/img/recipe_1.png" alt="Image">
                                    <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-padding-x-10--xs g-padding-y-10--xs">
                                        <h3 class="g-font-size-18--xs g-letter-spacing--1 g-color--primary"><a href="#">Create Something Great.</a></h3>
                                    </div>
                                </article>
                                <!-- End News -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- home page slider end here -->

        </div>
    </div>
    <!-- MAIN PAGE CONTENT ENDS HERE -->


    <!-- LEFT SIDE BAR STARTS HERE -->
    <div class="col-md-4 col-sm-4 col-xs-12 g-margin-b-60--xs g-margin-b-0--md">
        <div class="clearfix">

            <!-- Search site starts here -->
            <div class="row">
                <div class="col-sm-12 g-margin-b-30--xs g-margin-b-0--md">
                    <form class="input-group">
                        <input type="email" class="form-control s-form-v1__input g-radius--left-50" name="email" placeholder="Enter your email">
                        <span class="input-group-btn">
                            <button type="submit" class="s-btn s-btn-icon--md s-btn-icon--primary-brd s-btn--primary-brd g-radius--right-50"><i class="ti-search"></i></button>
                        </span>
                    </form>
                </div>
            </div>
            <!-- Search site ends here -->

        </div>
    </div>
    <!-- LEFT SIDE BAR ENDS HERE -->


</div>
</div>
<!-- End Page -->
